@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Exemplo de Aplicação utilizando o LiteDB</h1>
    <p>Clique <a href="http://www.litedb.org/">aqui</a> para saber mais.</p>

</div>
